version: '3'

services:
  nginx-proxy:
    build: ./proxy
    container_name: entrypoint4${COMPOSE_PROJECT_NAME}
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443
    volumes:
      - vhost.d:/etc/nginx/vhost.d
      - html:/usr/share/nginx/html
      - /var/run/docker.sock:/tmp/docker.sock:ro
    labels:
      - "com.github.jrcs.letsencrypt_nginx_proxy_companion.nginx_proxy"
    networks:
      - ${ADMIN_NETWORK}
      - ${APPS_NETWORK}

  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer4${COMPOSE_PROJECT_NAME}
    restart: always
    expose:
      - "9000"
    environment:
      - VIRTUAL_HOST=${PORTAINER_VHOST}
      - VIRTUAL_PORT=9000
    networks:
      - revproxy_admin
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /opt/portainer/data:/data
    networks:
      - ${ADMIN_NETWORK}
  
  #
  # Applications
  geonetwork:
    build: ./geonetwork
    container_name: geonetwork4${COMPOSE_PROJECT_NAME}
    restart: unless-stopped
    depends_on: 
      - nginx-proxy
      - es01
      - kibana
    expose: 
      - "8080"
    env_file:
      - ./geonetwork/.env
    volumes:
      - geonetwork-base:/usr/local/geonetwork
      - geonetwork-data:/var/local/geonetwork
    networks:
      - ${APPS_NETWORK}

  geoserver:
    image: ${COMPOSE_PROJECT_NAME}_geoserver:${GS_VERSION}
    container_name: geoserver4${COMPOSE_PROJECT_NAME}
    restart: unless-stopped
    expose:
      - "8080" 
    build:
      context: ./geoserver
    depends_on: 
      - nginx-proxy
      - postgis
      - pgadmin
    volumes:
      - geoserver-data:/var/local/geoserver
      - geoserver-exts:/var/local/geoserver-exts   
    networks:
      - ${APPS_NETWORK}

  # Tileserver-gl (https://github.com/maptiler/tileserver-gl)
  tileserver-gl:
    image: maptiler/tileserver-gl:latest
    container_name: tileserver4${COMPOSE_PROJECT_NAME}
    restart: unless-stopped
    depends_on: 
      - nginx-proxy
    expose: 
      - "80"
    environment: 
      - VIRTUAL_HOST=tiles.sdi.elasticlabs.co
      - VIRTUAL_PORT=80
    volumes:
      - mbtiles-data:/data
    networks:
      - ${ADMIN_NETWORK}
      - ${APPS_NETWORK}
  
  # Client application : MapStore2
  mapstore2:
    image: geosolutionsit/mapstore2:latest
    container_name: mapstore4${COMPOSE_PROJECT_NAME}
    restart: unless-stopped
    depends_on: 
      - geoserver
    expose: 
      - "8080"
    networks:
      - ${APPS_NETWORK}

  #
  # Backend databases & Admin tools
  # Elasticsearch :
  #   -> generic parameters are located here for configuration readability
  es01:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.4.2
    container_name: elastic01-4${COMPOSE_PROJECT_NAME}
    restart: unless-stopped
    expose:
      - "9200"
    environment:
      - node.name=es01
      - discovery.type=single-node
      - cluster.name=es-sdi-cluster
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - es-data01:/usr/share/elasticsearch/data
    networks:
      - sdi

  # Kibana :
  #   -> Configuration guide at https://www.elastic.co/guide/en/kibana/7.4/settings.html
  kibana:
    image: docker.elastic.co/kibana/kibana:7.4.2
    container_name: kibana4${COMPOSE_PROJECT_NAME}
    restart: unless-stopped
    expose:
      - "5601"
    depends_on:
      - es01
    environment:
      - SERVER_NAME=kibana
      - ELASTICSEARCH_HOSTS=http://es01
    volumes:
      - ./elk-config/kibana.yml:/usr/share/kibana/config/kibana.yml
    networks:
      - sdi

  # pgAdmin & PostGIS
  pgadmin:
    image: ${COMPOSE_PROJECT_NAME}_pgadmin4:latest
    container_name: pgadmin4${COMPOSE_PROJECT_NAME}
    restart: unless-stopped
    expose:
      - "80" 
    build:
      context: ./pgadmin
    env_file:
      - ./pgadmin/.env
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    networks:
      - sdi

  postgis:
    image: ${COMPOSE_PROJECT_NAME}_postgis:latest
    container_name: PostGIS4${COMPOSE_PROJECT_NAME}
    restart: unless-stopped
    expose:
      - "5432" 
    build:
      context: ./postgis
    stdin_open: true
    env_file: 
      - ./postgis/.env
    volumes:
      - dbdata:/var/lib/postgresql/data
      - dbbackups:/pg_backups
    networks:
      - sdi

  #GeoHealthCheck
  ghc_web:
    image: geopython/geohealthcheck:latest
    container_name: GeoHealthCheck4${COMPOSE_PROJECT_NAME}
    restart: unless-stopped
    expose:
      - "80"
    depends_on:
      - ghc_runner
    env_file:
      - ./geohealthcheck/ghc.env
    volumes:
      - ghc_db:/GeoHealthCheck/DB
    networks:
      - sdi

  ghc_runner:
    image: geopython/geohealthcheck:latest
    container_name: ghc_runner4${COMPOSE_PROJECT_NAME}
    restart: unless-stopped
    env_file:
      - ./geohealthcheck/ghc.env
    entrypoint:
      - /run-runner.sh
    volumes:
      - ghc_db:/GeoHealthCheck/DB
    networks:
      - sdi

volumes:
  vhost.d:
  html:
  geonetwork-base:
  geonetwork-data:
  geoserver-exts:
  geoserver-data:
  es-data01:
  dbdata:
  dbbackups:
  pgadmin_data:
  ghc_db:
  mbtiles-data:

networks:
  revproxy_admin:
    external:
      name: ${ADMIN_NETWORK}
  revproxy_apps:
    external: 
      name: ${APPS_NETWORK}